<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <form action = "/form_validation" method="POST">
        <label for="name">enter your name to participate</label>
        <input type="text" id="name" name="name"/>
        <label for="surname">and surname</label>
        <input type="text" id="surname" name="surname"/>
        <input type="submit" value="submit">
    </form>
</body>
</html>