<!DOCTYPE html>
<html lang="en" data-theme="<%- app.theme %>">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/style/style.css">
</head>
<body>

<main>
  <h1><%= title %></h1>
  <div>
    <form action="/auth/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="submit">
    </form>
  </div>
  <span>Nie masz konta? <a href="/user_signup">Zarejestruj się!</a></span>
  <a href="/">← Back</a>
</main>

</body>
</html>